<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('团单列表')" />
    <link th:href="@{/css/in.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="e8">
        <div class="fl e9">
            <div><!-- 轮播图 -->
                <div id="pic">
                    <ul class="pic">
                        <li>
                            <img width="560px" th:src="${bookInfo.pic}" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="fr f1">
            <h2 class="f2" th:text="${bookInfo.bookName}">书籍名称</h2>

            <div>
                <div class="f4 mt30 font18" style="float:left;margin-right:30px;" th:text="作者：+${bookInfo.author}"></div>
                <div class="f4 mt30 font18" style="float:left;" th:text="价格：+${bookInfo.price}"></div>
            </div>
            <br style="clear:both">
            <p class="mt10" th:text="上架日期：+${#dates.format(bookInfo.putTime, 'yyyy-MM-dd HH:mm')}">上架日期</p>
            <p class="f7 font16 tc mt10" id="bookType">222</p>
            <div class="f6 f8 mt20 mb30">
                <p class="f4 mt30 font18" style="float:left;margin-right:120px;" th:text="库存：+${bookInfo.stockNum}+本"></p>
                <p class="f4 mt30 font18" th:text="已出售：+${bookInfo.saleNum}+本"></p>
            </div>
            <div>
                <button class="f9" onclick="buy1()">加入购物车</button>
                <button class="l1" onclick="buy2()">立即购买</button>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <h3>
            书籍简介
            <div class="col-sm-12 select-table table-striped">
                <p class="f4 mt30 font18" th:text="${bookInfo.introduce}"></p>
            </div>
        </h3>
    </div>
    <hr>
    <hr>
    <hr>
    <hr>
    <div>
        <h3>
            当前评论
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </h3>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var bookId=[[${bookInfo.id}]];
    var bookName=[[${bookInfo.bookName}]];
    var price=[[${bookInfo.price}]];
    var shopBookType = [[${@dict.getType('shop_book_type')}]];
    function buy1(){
        $.modal.confirm("确认加入购物车吗？",function(){
            var url = "/shop/car/addBook?bookId="+bookId+"&price="+price+"&bookName="+bookName;
            $.operate.get(url);
        });
    }
    function buy2(){
        $.modal.confirm("确认直接购买吗？",function(){
            var url = "/shop/order/buyOne?bookId="+bookId+"&bookName="+bookName+"&price="+price;
            $.operate.get(url);
        });
    }

    $(document).ready(function () {
        var type=[[${bookInfo.bookType}]];
        var bookType = getDict(shopBookType, type);
        $('#bookType').html(bookType)
    })

    function getDict(datas, value) {
        if ($.common.isEmpty(datas) || $.common.isEmpty(value)) {
            return '';
        }
        var actions = [];
        $.each(datas, function(index, dict) {
            if (dict.dictValue == ('' + value)) {
                var listClass = $.common.equals("default", dict.listClass) || $.common.isEmpty(dict.listClass) ? "" : "badge badge-" + dict.listClass;
                actions.push(dict.dictLabel);
                return false;
            }
        });
        if (actions.length === 0) {
            actions.push($.common.sprintf("<span>%s</span>", value))
        }
        return actions.join('');
    }

    var editFlag = [[${@permission.hasPermi('system:comment:edit')}]];
    var bookId = [[${bookInfo.id}]];
    var removeFlag = [[${@permission.hasPermi('system:comment:remove')}]];
    var bookStarDatas = [[${@dict.getType('shop_book_star')}]];
    var prefix = ctx + "shop/comments";

    $(function() {
        var options = {
            url: prefix + "/list?bookId="+bookId,
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "评论",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'userName',
                    title: '评论用户'
                },
                {
                    field: 'star',
                    title: '评分',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(bookStarDatas, value);
                    }
                },
                {
                    field: 'content',
                    title: '评论'
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>